{% macro document(contract) -%}
Preconditions
-------------
{% for var, conditions in contract.items() %}{% if var!="return" %}
{{ var }}
    {% for condition in conditions %}{{ condition }}
    {% endfor %}
{% endif %}{% endfor %}
{% if "return" in contract.keys() %}Postconditions
--------------
{% for condition in contract["return"] %}
{{condition}}{% endfor %}{% endif %}
{%- endmacro %}